
* {
    box-sizing: border-box;
}

.fa-facebook {
    background-color: royalblue;
    color: white;
    width: 8%;
    float: left ;
    text-align: center;
}
.fa-search{
    color: black;
    width: 10%;
    float: left ;
}
.fa-trang_chu{
    background-color: royalblue;
    color: black;
    width: 8%;
    float: left ;
}
.fa-trang{
    background-color: royalblue;
    color: black;
    width: 8%;
    float: left ;
}
.fa-watch{
    background-color: royalblue;
    color: black;
    width: 8%;
    float: left ;
}
.fa-Marketplace{
    background-color: royalblue;
    color: black;
    width: 8%;
    float: left ;
}
.fa-nhom{
    background-color: royalblue;
    color: black;
    width: 8%;
    float: left ;
}
.fa-xem_thong_tin_ca_nhan{
    background-color: royalblue;
    color: black;
    width: 8%;
    float: left ;
}
.fa-menu{
    background-color: royalblue;
    color: black;
    width: 8%;
    float: left ;
}
.fa-massenger{
    background-color: royalblue;
    color: black;
    width: 8%;
    float: left ;
}
.fa-thong_báo{
    background-color: royalblue;
    color: black;
    width: 8%;
    float: left ;
}
.fa-tai_khoan{
    background-color: royalblue;
    color: black;
    width: 8%;
    float: left ;
}
